<!--Inicio Vista Dotacion-->
<div id="ContenedorDotacionMod" class="card offset-md-0">
    <input id="DotToken" name="DotToken" type="hidden" value="">
    <div class="card-body offset-md-0">
        <div class="row">
            <!--Panel Izquierdo-->
            <div class="col-md-6 order-md-2">
                <h7 class="mt-0"></h7>
                <br />
                <h7 class="mt-0">Contrato</h7>
                <div class="row">
                    <div class="col-sm-3"><div style="height:36px;padding-top:8px;">N° de Contrato</div></div>
                    <div class="col-sm-6"><input type="text" class="form-control" style="height:28px; font-size:11px;" id="NumContratoMod" placeholder="Numero Conrato" required=""></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Nombre EECC</div></div>
                    <div class="col-sm-6"><input type="text" class="form-control" style="height:28px; font-size:11px;" id="NombreEECCMod" placeholder="Nombre EECC" required=""></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Sub Contrato</div></div>
                    <div class="col-sm-6"><input type="text" class="form-control" style="height:28px; font-size:11px;" id="SubContratoMod" placeholder="Sub Contrato" required=""></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Descripción Servicio</div></div>
                    <div class="col-sm-6"><input type="text" class="form-control" style="height:28px; font-size:11px;" id="DescripcionServicioMod" placeholder="Descripción Servicio" required=""></div>
                </div>

                <div class="row">
                    <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Situación Faena</div></div>
                    <div class="col-sm-6">
                        <select id="SituacionFaenaMod" class="form-control" style="height:30px; font-size:11px;">
                            <option value="-1" selected>Seleccionar..</option>
                            <option value="Presente">Presente</option>
                            <option value="Fuera">Fuera Faena</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Turno</div></div>
                    <div class="col-sm-6">
                        <select id="TurnoMod" class="form-control" style="height:30px; font-size:11px;">
                            <option value="-1" selected>Seleccionar..</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Alimentación</div></div>
                    <div class="col-sm-6">
                        <select id="AlimentacionMod" class="form-control" style="height:30px; font-size:11px;" onchange="FNGuardarSeleccion('COMBO_ALIMENTACION',this.value)">
                            <option value="-1" selected>Seleccionar..</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Hoteleria</div></div>
                    <div class="col-sm-6">
                        <select id="HoteleriaMod" class="form-control" style="height:30px; font-size:11px;" onchange="FNGuardarSeleccion('COMBO_HOTELERIA',this.value)">
                            <option value="-1" selected>Seleccionar..</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                    </div>
                </div>



            </div>
            <!--Panel Derecho-->
            <div class="col-md-6 order-md-1">
                <h7 class="mt-0">Modificar Contrato de Dotación</h7>
                <div class="row">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Año</div></div>
                            <div class="col-sm-6">
                                <select id="PeriodoAnnMod" class="form-control" style="height:30px; font-size:11px;">
                                    <option value="-1" selected>Seleccionar..</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Departamento</div></div>
                            <div class="col-sm-6">
                                <select id="DepartamentoDotMod" class="form-control" style="height:30px; font-size:11px;">
                                    <option value="-1" selected>Seleccionar..</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Centro de Costo</div></div>
                            <div class="col-sm-6"><input type="text" class="form-control" style="height:28px; font-size:11px;" id="CentroCostoMod" placeholder="Centro de Costo" required=""></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Clasificación</div></div>
                            <div class="col-sm-6">
                                <select id="ClasificacionDotMod" class="form-control" style="height:30px;font-size:11px;">
                                    <option value="-1" selected>Seleccionar..</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Tipo EECC</div></div>
                            <div class="col-sm-6">
                                <select id="TipoEECCMod" class="form-control" style="height:30px;font-size:11px;">
                                    <option value="-1" selected>Seleccionar..</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Situación Proyecto</div></div>
                            <div class="col-sm-6">
                                <select id="SituacionProyectoMod" class="form-control" style="height:30px;font-size:11px;">
                                    <option value="-1" selected>Seleccionar..</option>
                                    <option value="Normal">Normal Proyecto</option>
                                    <option value="Detencion">Detencion de Planta</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3"><div style="height:36px;padding-top:8px;">Ubicación</div></div>
                            <div class="col-sm-6">
                                <select id="UbicacionMod" class="form-control" style="height:30px;font-size:11px;">
                                    <option value="-1" selected>Seleccionar..</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!--Panel Bajo-->
            <div class="col-md-12">
                <hr />
                <div class="row">
                    <div class="card-body">
                        <div class="row offset-md-0">
                            <div style="width:900px;" alingn="left">
                                <h7 class="mt-0">Detalle de dotaciones para el periodo seleccionado</h7>
                                <br />
                                <table style="width:800px; text-align:center;margin-top:20px;">
                                    <tr>
                                        <th>ENE</th>
                                        <th>FEB</th>
                                        <th>MAR</th>
                                        <th>ABR</th>
                                        <th>MAY</th>
                                        <th>JUN</th>
                                        <th>JUL</th>
                                        <th>AGO</th>
                                        <th>SEP</th>
                                        <th>OCT</th>
                                        <th>NOV</th>
                                        <th>DIC</th>
                                    </tr>
                                    <tr>
                                        <td><input type="number" id="dotEneMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotFebMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotMarMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotAbrMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotMayMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotJunMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotJulMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotAgoMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotSepMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotOctMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotNovMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                        <td><input type="number" id="dotDicMod" class="DotPeriodoMes" min="0" max="10000" maxlength="5" value="0" onkeypress="return isNumberKey(event)" onkeyup="this.value = fnc(this.value, 0, 10000);" /></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="m-t-30 m-b-30"><input type="button" class="btn btn-success btn-sm" value="Actualizar Dotación" onclick="FNActualizarContratoDotacion()" id="BotonGuardarDotacionMod" /></div>
            </div>
        </div>
    </div>
</div>